name: Build

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Setup Java
        uses: actions/setup-java@v4.7.1
        with:
          distribution: temurin
          java-version: 17
      - name: Build
        run: ./gradlew -PltsMavenUser=${{ secrets.LTS_MAVEN_USER }} -PltsMavenPassword=${{ secrets.LTS_MAVEN_PASSWORD }} check
